$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

* {
  font-family: "Chakra Petch", sans-serif;
}

#card .employer:nth-child(even),
#card.isNotPhone .employer:nth-child(odd) .daterange {
  text-align: left;
}

#card .employer:nth-child(odd),
#card.isNotPhone .employer:nth-child(even) .daterange {
  text-align: right;
}

#card.isNotPhone .employer:nth-child(even) .daterange {
  margin-right: 75px;
}

#card.isNotPhone .employer:nth-child(odd) .daterange {
  margin-left: 75px;
}

#card.isNotPhone p {
  font-size: 14px;
}
// make it phone friendly
p {
  font-size: 12px;
}

// mobile cardtitle size 32
// .name 17

.card {
  max-width: 75vw;
}

.daterange {
  font-style: italic;
}

.blurb {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  margin: 0 5px 5px 5px;
}

.bullet {
  flex: 0 0 1.25rem;
  line-height: 1;
}

// #card .employer:nth-child(even) .blurb {
//   color: limegreen;
// }
// #card .employer:nth-child(odd) .blurb {
//   color: purple;
// }

.blurb p {
  width: 68vw;
  float: right;
  margin: 0;
}

#card.isNotPhone .daterange {
  margin: -10px 0 0 0;
}
.daterange,
.title {
  margin: 2px;
}
h2 {
  margin-bottom: 0;
}

a {
  margin-bottom: 0;
  margin-top: 25px;
  color: $shining-red;
}
a > span {
  background-color: white;
}

a > span:hover {
  cursor: pointer;
  background-color: transparent;
}

.title {
  padding: 2px;
}

a {
  text-decoration: none;
}
