$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

.card {
  width: 90vw;
}

.btn:nth-child(2) {
  margin: 0 20px 0 20px;
}
#name,
#hello {
  font-family: "Chakra Petch", sans-serif;
}
#name {
  color: $shining-red;
}
#name > span {
  background-color: white;
}
.btn {
  display: inline-block;
  color: black;
  padding: 5px;
  background-color: $shining-orange;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  background-color: $shining-red;
}
