$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

a {
  display: inline-block;
  color: black;
}

.btn:nth-child(2) {
  margin: 0 20px 0 20px;
}

.btn {
  background-color: $shining-orange;
}

.btn:hover {
  background-color: $shining-red;
}
