<app-adjective-wheel />
<contact-button />

<div className="outsideLinks">
  <a
    href="https://www.linkedin.com/in/chelseawr/"
    target="_blank"
    rel="noopener noreferrer"
    class="btn"
    title="LinkedIn"
  >
    <span style="font-size: 48px">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </span>
  </a>
  <a
    href="https://github.com/chelseawr"
    target="_blank"
    rel="noopener noreferrer"
    class="btn"
    title="Personal Github"
  >
    <span style="font-size: 48px"> <fa-icon [icon]="faGithub"></fa-icon> </span>
  </a>

  <a
    [href]="sourcePath"
    [download]="fileName"
    target="_blank"
    rel="noopener noreferrer"
    class="btn"
    title="View Resume"
  >
    <span style="font-size: 48px">
      <fa-icon [icon]="faFilePdf"></fa-icon>
    </span>
  </a>
</div>
