// TODO make theme colors global
$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

#hello {
  margin-bottom: 0;
  font-size: 1em;
}

#name {
  color: $shining-red;
  font-size: xxx-large;
  margin-top: 0;
}

h1,
h2 {
  font-family: "Lekton", sans-serif;
}

.note::after {
  content: "";
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #afafaf;
  background: linear-gradient(
    135deg,
    rgba(43, 171, 217, 1) 0%,
    rgba(0, 130, 200, 1) 100%
  );
  position: absolute;
  top: -1.8em;
  left: 0;
}

main {
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory; /* Vertical full-page snap */
  -webkit-overflow-scrolling: touch;
}

.item {
  list-style: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  padding: 3px;
  justify-items: center;
  align-items: center;
  z-index: 10;
  background-color: var(--dark-blue);
  opacity: 0;
  transition: opacity 0.3s;
}

.nav.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.nav .item a {
  text-decoration: none;
  color: #444;
  padding: 0.25rem 0.5rem;
}

.nav .item.active a {
  color: #0a58ca;
  border-bottom: 2px solid #0a58ca;
}
