// TODO make theme colors global
$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

#hello {
  margin-bottom: 0;
  font-size: 1em;
}

#name {
  color: $shining-red;
  font-size: xxx-large;
  margin-top: 0;
}

h1,
h2 {
  font-family: "Lekton", sans-serif;
}

#card {
  position: absolute;
  margin-left: 50px;
  color: $shining-orange;
  background-color: black;
  border-radius: 1.5em;
  min-width: 322px;
  max-width: 1170px;
  width: 35%;
  padding: 2.6em 3.8em;
  top: 35%;
  transform: translate(-50%, -50%);
  left: 40%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);
}

.note::after {
  content: "";
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #afafaf;
  background: linear-gradient(
    135deg,
    rgba(43, 171, 217, 1) 0%,
    rgba(0, 130, 200, 1) 100%
  );
  position: absolute;
  top: -1.8em;
  left: 0;
}

/* Vertical full-page snap */
main {
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
