<section #watch id="slide4">
  <div class="veil"></div>
  <article class="card">
    <div class="hero">
      <h1 id="cardTitle">skills</h1>
      @if (responsive.isPhonePortrait()) { @for (skill of skills; track
      skill.type; let i = $index) {
      <details
        class="mobileItem item"
        [open]="openType === skill.type"
        [class.odd]="i % 2 !== 0"
      >
        <summary
          [class.odd]="i % 2 !== 0"
          (click)="onToggle(skill.type, $event)"
        >
          <fa-icon class="chevron" [icon]="chevronIcon(i, skill)" />

          <div class="heading">
            <fa-icon [icon]="skill.icon" />
            <div class="title">{{ skill.type}}</div>
          </div>
        </summary>

        <div class="divider" role="presentation"></div>
        <div class="content">
          <p class="bullets">{{skill.items}}</p>
        </div>
      </details>
      } } @else { @for (skill of skills; track skill.type; let i = $index) {
      <article [class.odd]="i % 2 !== 0" class="item">
        <header>
          <div>
            <fa-icon [icon]="skill.icon" />
            <div class="title">{{skill.type}}</div>
          </div>
        </header>
        <div class="content">
          <p class="bullets">{{skill.items}}</p>
        </div>
      </article>
      }}
    </div>
  </article>
</section>
