button {
  color: black;
  margin-bottom: 20px;
  background-color: white;
  a {
    color: black;
    padding-right: 10px;
    text-decoration: none;
    font-family: "Lekton";
    font-size: 16px;
  }
}
button:hover {
  color: white;
  background-color: rgb(223, 95, 24); //shining orange
  a {
    color: white;
  }
}
