$xmas-red: #f44034ff;
$xmas-green: #4cae4fff;
.btn {
  color: white;
  margin-bottom: 20px;
  transition: background-color 0.5s ease-out;
  background-color: $xmas-red;
  span {
    color: white;
    text-decoration: none;
    font-family: "Chakra Petch";
    font-size: 40px;
  }
}
.btn:hover {
  background-color: $xmas-green;
}

a {
  text-decoration: none;
  white-space: nowrap;
}
