$shining-red: rgb(152, 31, 36);
$shining-orange: rgb(223, 95, 24);

.btn {
  color: white;
  margin-bottom: 20px;
  transition: background-color 0.5s ease-out;
  background-color: $shining-red;
  span {
    color: white;
    text-decoration: none;
    font-family: "Chakra Petch";
    font-size: 40px;
  }
}
.btn:hover {
  background-color: $shining-orange;
}

a {
  text-decoration: none;
  white-space: nowrap;
}
