#text {
  font-family: 'Inconsolata', sans-serif;
  text-align: right;
}
#innerbox.isNotPhone #text {
  width: 50%;
  float: left;
}

#picBox img {
  width: 200px;
  height: 200px;
}

#innerbox.isNotPhone #picBox {
  float: right;
}

p {
  font-style: italic;
  font-size: 10px;
}
