.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  margin-right: 11vw;
  overflow: hidden;
  width: 17em;
  margin-left: -2vw;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 10s infinite;
  font-weight: bold;
}

h3 {
  font-family: "Arsenal SC", "Lekton";
  font-size: 2em;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
